*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;

}

.heading-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 116px 112px 116px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--button-regular-padding-chevron, 10px);
    background-image: url(./resources/Desktop_Section-1_Left\ \(1\).png), url(./resources/Desktop_Section-1_Right\ \(1\).png);
    background-position: left center, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}


.heading{

    display: flex;
    align-items: flex-start;
    gap: 101px;

}


.heading__left{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.heading__svg{

    display: flex;
    width: 88px;
    height: 36.757px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;

}

.heading__inner{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--button-large-height, 56px);

}

.heading__textbox{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.heading__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    font-family: OMR Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 60px */
    text-transform: uppercase;

}

.heading__subline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    font-family: OMR Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

.heading__buttonbox{

    display: flex;
    align-items: flex-start;
    gap: 20px;

}

.button{

    display: flex;
    height: var(--button-large-height, 56px);
    padding: 10px var(--button-large-padding, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--button-large-gap, 8px);
    font-family: OMR Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.5px;
    text-transform: uppercase; 
    cursor: pointer;

}

.button--filled{

    border-radius: var(--button-corner, 2px);
    background: var(--button-yellow-enabled, #F2B200);  
    color: var(--button-yellow-enabled-contrast, #141314);

}

.button--unfilled{

    border-radius: var(--button-corner, 2px);
    border: 2px solid var(--button-yellow-enabled, #F2B200);
    background: none;
    color: var(--button-yellow-enabled, #F2B200);

}

.heading__video{

    width: 100%;
    height: 363.273px;

}

.banner-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 0px 112px 0px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background: var(--brand-colors-purple-600, #8259FF);
    background-image: url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_Banner_BG_Links.png?v=1696590168), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_Banner_BG_Rechts.png?v=1696590168);
    background-position: left center, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}

.banner{

    display: flex;
    width: 912px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.banner__textbox{

    display: flex;
    width: 872px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.banner__headline{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));
    /* Desktop/L 36 HEADLINE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;
    width: 872px;

}

.banner_subline{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));
    /* Desktop/S 20 Headline */
    font-family: OMR Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 25px */
    width: 872px;

}

.button--banner{

    border-radius: var(--button-corner, 2px);
    background: var(--button-white-enabled, #FDFDFD);

}




.cards-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--button-large-height, 56px);
    background: var(--neutrals-white, #FDFDFD);

}

.cards{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--button-large-height, 56px);

}

.cards__title{

    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;


}

.cards__title--black{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD)); 
    background: var(--neutrals-black, #141314);
    padding:0 6px 0 6px;


}

.card-wrapper{

    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8%;
    row-gap: 53px;

}

.card{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.card__img{

    width: 312px;
    height: 312px;

}

.card__labelbox{

    display: flex;

}

.card__label{

    display: flex;
    padding: 8px 9px;
    justify-content: center;
    align-items: center;
    background: var(--Black, #000);
    color: var(--White, #FFF);
    font-family: OMR Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 15px */
    text-transform: uppercase;

}

.card__title{

    width: 312px;
    color: #000;
    /* Desktop/S 20 Headline */
    font-family: OMR Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 25px */

}





.advice-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 0px 112px 0px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background: var(--brand-colors-purple-400, #ADA6FC);
    background-image: url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_advice_BG_Links.png?v=1696592613), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_advice_BG_Rechts.png?v=1696592613);
    background-position: left top, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}

.advice{

    display: flex;
  
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    
}

.advice__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/M 24 Headline */
    font-family: OMR Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    width: 100%;

}



.benefits-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--button-regular-padding-chevron, 10px);
    background: var(--neutrals-white, #FDFDFD);
    background-image: url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_benefits_BG_Links.png?v=1696594520), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_benefits_BG_Rechts.png?v=1696594520);
    background-position: left center, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}

.benefits{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--button-large-height, 56px);

}

.benefits__title{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;

}

.benefits__title--highlight{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD)); 
    background: var(--neutrals-black, #141314);
    padding:0 6px;

}

.benefit-wrapper{

    display: flex;
    width: 1096px;
    justify-content: space-between;
    align-items: flex-start;

}

.benefit{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.benefit__img{

    width: 194px;
    height: 224px;
    margin-bottom:26px;

}

.benefit__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 Headline */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 45px */

}

.benefit__description{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* General/M Body 16 Regular */
    font-family: OMR Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 224px;;

}




.certificates-container{

    display: flex;
    width: 100%;
    padding: 104px 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--button-regular-padding-chevron, 10px);
    background: var(--brand-colors-purple-400, #ADA6FC);
    background-image: url(), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_certificates_BG_Rechts.png?v=1696597757);
    background-position: left center, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}


.certificates-wrapper{

    width: 1096px;
    height: 336px;

}

.certificates{

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;


}

.certificates__textbox{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:120px;

}

.certificates__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 Headline */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 45px */

}

.certificates__description{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* General/M Body 16 Bold */
    font-family: OMR Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 536px;

}

.certificates__imgbox{

    display: flex;
    width: 424px;
    justify-content: space-between;
    align-items: flex-start;

}

.certificates__img{

    width: 153.942px;
    height: 154.91px;
    flex-shrink: 0;

}



.requirements-wrapper{

    display: flex;
    width: 100%;
    padding: 104px 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--button-regular-padding-chevron, 10px);
    background: var(--neutrals-white, #FDFDFD);
    background-image: url(), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_requirements_BG_Rechts.png?v=1696621412);
    background-position: left center, right top;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}

.requirements{

    width: 1096px;
    display: flex;
    align-items: center;
    gap: 296px; 
    align-items: center;
    
}

.requirements__inner{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--button-large-height, 56px);

}

.requirements__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;

}

.requirements__headline--highlight{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD)); 
    background: var(--neutrals-black, #141314);
    padding: 0 6px;

}

.requirements__description{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* General/M Body 16 Regular */
    font-family: OMR Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 536px;

}

.requirements__description--fat{

    font-weight: 700; 

}

.requirements__img{

    width: 366.557px;
    height: 366.557px;

}





.steps-wrapper{

    display: flex;
    width: 100%;
    padding: var(--button-large-height, 56px) 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--button-regular-padding-chevron, 10px);

}

.stepsbox{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
}

.steps__title{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314)); 
    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;
    width: 328px;

}

.steps__title--highlight{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));
    background: var(--neutrals-black, #141314);
    padding: 0 6px;

}

.steps{

    display: flex;
    align-items: flex-start;
    gap: 50px;
    width: 1096px;
    justify-content: space-between;


}

.step{

    display: flex;
    width: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;

}

.step__number{

    color: var(--brand-colors-omr-yellow-medium, var(--brand-colors-yellow-600, #F5C41C));
    /* Desktop/72 sp • XXL Headline */
    font-family: OMR Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 88px; /* 122.222% */
    letter-spacing: -1px;

}

.step__headline{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 Headline */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 45px */

}


.step__description{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* General/M Body 16 Regular */
    font-family: OMR Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

}






.contactform-wrapper{

    display: flex;
    width: 100%;
    padding: 56px 172px 104px 172px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    background-image: url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_formsection_BG_Chamaeleon.png?v=1696804299), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_formsection_BG_Links.png?v=1696627335), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_formsection_BG_Rechts.png?v=1696627336);
    background-position: left center, left center, right center;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

}


.contactformbox{

    display: flex;
    width: 872px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

}


.contactform__title{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));
    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;
    width: 640px;

}

.contactform__title--highlight{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD)); 
    background: var(--neutrals-black, #141314);
    padding: 0 6px;

}


.contactform{

    display: flex;
    width: 648px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.contactform-row{

    display: flex;
    align-items: flex-start;
    gap: 24px;

}


.contactform__input-container{

    display: flex;
    width: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

}

.contactform-row:nth-child(n+3) .contactform__input-container {

    width: 648px; 

}


.contactform__input-wrapper{

    display: flex;
    height: var(--button-large-height, 56px);
    padding: 0px var(--button-compact-wide-padding-chevron, 12px);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--button-compact-gap, 4px);
    border: 1px solid var(--greyscale-grey-700808080, #808080);
    background: var(--primary-white-ffffff, #FFF);

}


.contactform__labelbox{

    display: flex;
    height: 2px;
    padding: 0px 4px;
    align-items: center;
    gap: var(--button-regular-padding-chevron, 10px);
    flex-shrink: 0;
    

}

.contactform__label{

    color: var(--greyscale-grey-9003-a-3-a-3-a, #3A3A3A);
    font-family: Futura ND;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
    background: var(--primary-white-ffffff, #FFF);
    padding: 0px 4px;

}


.contactform__label--error{

    color: var(--semantic-red, #EB2E03);

}


.contactform__inputbox{

    display: flex;
    padding: 14px 4px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

}


.contactform__input{

    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--primary-black-000000, #000);
    text-overflow: ellipsis;
    font-family: Futura ND;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */


}


.contactform__input::placeholder{

    color: var(--greyscale-grey-800595959, #595959);
    text-overflow: ellipsis;
    font-family: Futura ND;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}

.contactform__input:focus{

    outline: none;

}

.contactform__input-wrapper:focus-within {

    border: 2px solid var(--primary-victoria-534898, #534898);

}

.contactform__input-wrapper--error{

    border: 1px solid var(--semantic-red, #EB2E03);

}

.contactform__input-wrapper:focus-within .contactform__label {

    color: var(--primary-victoria-534898, #534898);
    font-family: Futura ND;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */

}

.contactform__selectbox{

    display: flex;
    padding: 14px 4px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;

}

.contactform__select{

    color: var(--greyscale-grey-800595959, #595959);
    text-overflow: ellipsis;
    font-family: Futura ND;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    width: 100%;
    outline:none;

}

.contactform__warning{

    color: var(--semantic-red, #EB2E03);
    /* 12 sp • S Label */
    font-family: Futura ND;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */

}

.contactform__warning--hidden{

    display:none;

}


.contactform__consent{

    display: flex;
    width: 648px;
    padding-bottom: 0px;
    align-items: center;
    gap: 8px;

}

.contactform__checkbox{

    display: flex;
    width: 24px;
    padding: 4.459px 0px 39.141px 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;

}

.contactform__agb{

    display: flex;
    padding-top: 4px;
    align-items: center;
    flex: 1 0 0;

}

.contactform__agb p{

    color: var(--primary-black-000000, #000);
    font-family: OMR Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */

}

.contactform__agb a{

    color: var(--brand-colors-omr-purple-strong, var(--brand-colors-purple-900, #8259FF));
    text-decoration: none;

}

.contactform .button{

    width: 100%;

}




.faq{

    display: flex;
    width: 1440px;
    padding: 80px 116px 112px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--button-regular-padding-chevron, 10px);
    background: var(--brand-colors-purple-600, #8259FF);
    background-image: url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_FAQ_BG_Chameleon.png?v=1696803887), url(https://cdn.shopify.com/s/files/1/0563/4310/1600/files/Upskill_FAQ_BG_Rechts.png?v=1696803886);
    background-position: right top;
    background-repeat: no-repeat; 
    background-size: auto, auto; 

    

}


.faq__headline{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));

    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 45px */
    text-transform: uppercase;
    margin-bottom: 50px;

}

.faq__headline--highlight{

    color: var(--neutrals-black-web, var(--neutrals-black, #141314));

    /* Desktop/L 36 HEADLINE UPPERCASE */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    text-transform: uppercase;
    background: var(--neutrals-white, #FDFDFD);
    padding: 0 6px;

}


.accordion{
    
    display: flex;
    width: 40.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0;
    
}

.accordion_element{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch; 
    cursor:pointer;

}

.accordion_content{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

}

.accordion_trigger{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    align-self: stretch;

}

.accordion_text{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD)); 
    font-family: OMR Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 

}

.accordion_chevron{

    transform: rotate(0deg);
    flex-shrink: 0;
    fill: var(--neutrals-white, #FDFDFD);
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;

}

.accordion_hidden_text {

    display: flex;
    width:100%;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));
    font-family: OMR Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 

}

.accordion_hidden_text.open {
    
    max-height: 1000px; 

}

.accordion_line{

    height: 4px;
    align-self: stretch;
    stroke-width: 1px;
    stroke: var(--neutrals-white-web, #FDFDFD); 

}



.partners{

    display: flex;
    width: 1440px;
    padding: 24px 116px 80px 116px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--button-regular-padding-chevron, 10px);
    background: var(--brand-colors-purple-600, #8259FF);

}


.partners-wrapper{

    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 53px;

}

.partners__headline{

    color: var(--neutrals-white-web, var(--neutrals-white, #FDFDFD));
    /* Desktop/L 36 Headline */
    font-family: OMR Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 45px */

}


.partners__imgbox{

    display: flex;
    align-items: flex-start;
    gap: 160px;

}

